/* Reset default browser margin and padding */
body, html {
  margin: 0;
  padding: 0;
  background-color: #000913;
  overflow-x: hidden; /*hide horizontal overflow scroll bar */
}


/* Style for hero section */
.hero {
  background-image: url('abstract-luxury-gradient.avif'); /* Replace background-imag*/
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5); /* Add transparent background overlay */
  background-image: url('morgana.jpg');
  height: 800px;
  width: 800px;
  background-size: cover;
  padding: 20px;
  border-radius: 50px;
}

/* Style hero heading */
.hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Style hero paragraph */
.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Style for the Ahri hero content */
.Ahri_hero {
  background-image: url('abstract-luxury-gradient.avif'); /* Replace 'your-background-image.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

/* flex container */
.flex-container {
  display: flex;
  flex-wrap: wrap; /* wrap to the next row */
  justify-content: flex-start; /* Start items from left of screen */
  gap: 2px; /*flex items gap */
  max-width: 2000px; /* maximum width */
  max-height: 2000px; /* maximum height */
  margin: 0 auto;
  padding: 20px;
  background-color: #000913;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style for flex items */
.flex-item {
  flex-basis: calc(20% - 20px); /* Set the initial size of each item to 20% minus the gap for each row */
  background-color: #000913;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  position: relative;
  overflow: hidden; /* so content doesn't overflow page */
  transition: transform 0.3s; /* transition for the image */
}

/* Style images inside flex items */
.flex-item img {
  width: 100%; /* make all images the same width */
  height: 250px; /*  make all images the same height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 5px; /* Rounded corners for images */
}

/* Hover effect */
.flex-item:hover img {
  transform: scale(1.1); /* Increase the image size slightly on hover */
}

/* end of styling for flex layout */

/* style grid layout */
.grid-container_Ahri_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('Ahri_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; /* Use a transparent border */
  border-width: calc(100% + 4px); /* 2px larger than the image size */
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}

.grid-container_Irelia_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('irelia.jpg'); /* change background img */
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; 
  border-width: calc(100% + 4px); 
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}

.grid-container_Bwonsamdi_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('bwonsamdi.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; 
  border-width: calc(100% + 4px); 
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}

.grid-container_Syndra_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('Syndra.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; 
  border-width: calc(100% + 4px); 
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}

.grid-container_Voljin_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('VOLJIN.webp'); 
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; 
  border-width: calc(100% + 4px); 
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}


.grid-container_Garosh_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('Garrosh.webp'); /* change background img */
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; /* Use a transparent border */
  border-width: calc(100% + 4px); /* 2px larger than the image size */
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}

/* style grid layout */
.grid-container_Thrall_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('Thrall.webp'); 
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; 
  border-width: calc(100% + 4px); 
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}


.grid-container_Sylvanas_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 800px auto;
  background-image: url('Sylvanas.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent; 
  border-width: calc(100% + 4px); 
  height: 63vh;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
}

/* Style for the grid item */
.grid-item {
  background-color: #000913;
  padding: 20px;
  text-align: left; /* Align text to the left */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  height: 100%; /* Ensure the grid item takes the full height */
}

/* Style for the "PLACEHOLDER" text */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170%;
}

.content-container h1 {
  font-size: 30px;
  margin-bottom: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow  */
  color: #fff; /* text color to white */
  background-color: rgba(0, 0, 0, 0.2); /* Add background shading */
  padding: 10px; /* Add padding for spacing */
  transition: background-color 0.3s; 
}

.content-container h1:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Change background color on hover */
  cursor: pointer; /* Change cursor on hover for the click effect */
}

/* Style for the bio section */
.bio-section {
  background-color: #000913; /* Background color for the bio section */
  padding: 20px;
  /* Media query for responsive design within the bio section THIS IS BROKEN*/
  @media (max-width: 768px) {
    .bio-section .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 10px 0;
    }
  }

/* Style for the bio box */
.bio-box {
  border: 1px solid #ccc; /* Thin border around the bio box */
  padding: 20px;
  border-radius: 5px; /* Rounded corners for the bio box */
  background-color: #000913; /* Background color for the bio box */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
  text-align: center; /* Center-align text within the bio box */
}
/* Style for the bio heading */
.bio-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; 
}
/* Style for the bio text */
.bio-box p {
  font-size: 16px;
  margin: 0;
  color: #fff; 
}
  .rectangular-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    color: #fff; 
    text-align: center;
  }

  /* Style for each rectangular box */
  .box {
    width: 150px; /*width of the rectangles  */
    height: 100px; /*height of rectangles */
    background-color: transparent; /* background color to transparent */
    border: 2px solid #fff; /* 2px white border*/
    margin: 10px; /*margin to create spacing between boxes */
  }
}

/* Style for the bio text */
.grid-container-bio {
  background-color: #000913;
  padding: 20px;
  text-align: left; /* Align text to the left */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  height: 100%;
}

.grid-item-bio h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; 
}

.grid-item-bio p {
  font-size: 18px;
  color: #fff; 
}
/*end of second grid container BIO */


/* Grid Style for the footer */
.GFooter {
  display: grid;
  grid-template-rows: 80px;
  background-color: #000913;
  padding: 20px;
  gap: 10px;
  margin: 20px;
  text-align: center;
}

/* navbar style */
.navbar {
  background-color:#000913;;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* hamburger icon style */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1; /* hamburger above the background by setting the z axis order of elements ((NOT WORKING)) */
}
/* Style for the navigation bar */
.navbar {
  background-color: #000913;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative; 
  z-index: 2; /* Set the z-index of the navbar to 2 ((NOT WORKING))*/
}

@media (max-width: 768px) { /* Media query for responsive design ((NOT WORKING)) */
  .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 10px 0;
  }

  .nav-links.active {
      display: flex;
  }

  .hamburger {
      display: flex;
  }
}

/* end of navbar */

#Ahri {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: chartreuse;
  border-radius: 5px;
  width: 150px;
}
/* footer style */

/*VIDEO STYLE */

.video-container {
  margin-top: 20px; /* change margin */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (divide 9 by 16) */
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*END OF VIDEO STYLE */

.footer {
  background-color:#000913;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;

}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Add space between list items */
}

.footer ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.footer h3 {
  margin-bottom: 10px;
}